[submodule "Dependencies/LuaJIT/LuaJIT"]
	path = Dependencies/LuaJIT/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "Dependencies/libuv/libuv"]
	path = Dependencies/libuv/libuv
	url = https://github.com/libuv/libuv
[submodule "Dependencies/madler/zlib"]
	path = Dependencies/madler/zlib
	url = https://github.com/madler/zlib
[submodule "Dependencies/PCRE2Project/pcre2"]
	path = Dependencies/PCRE2Project/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "Dependencies/openssl/openssl"]
	path = Dependencies/openssl/openssl
	url = https://github.com/openssl/openssl
