[submodule "Dependencies/LuaJIT/LuaJIT"]
	path = Dependencies/LuaJIT/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "Dependencies/libuv/libuv"]
	path = Dependencies/libuv/libuv
	url = https://github.com/libuv/libuv
[submodule "Dependencies/madler/zlib"]
	path = Dependencies/madler/zlib
	url = https://github.com/madler/zlib
[submodule "Dependencies/PCRE2Project/pcre2"]
	path = Dependencies/PCRE2Project/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "Dependencies/openssl/openssl"]
	path = Dependencies/openssl/openssl
	url = https://github.com/openssl/openssl
[submodule "Dependencies/evo-lua/lpeg-compat-52"]
	path = Dependencies/evo-lua/lpeg-compat-52
	url = https://github.com/evo-lua/lpeg-compat-52
[submodule "Dependencies/richgel999/miniz"]
	path = Dependencies/richgel999/miniz
	url = https://github.com/richgel999/miniz
[submodule "Dependencies/facebookresearch/CParser"]
	path = Dependencies/facebookresearch/CParser
	url = https://github.com/facebookresearch/CParser
[submodule "Dependencies/PortAudio/portaudio"]
	path = Dependencies/PortAudio/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "Dependencies/mikke89/RmlUi"]
	path = Dependencies/mikke89/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "Dependencies/ocornut/imgui"]
	path = Dependencies/ocornut/imgui
	url = https://github.com/ocornut/imgui
[submodule "Dependencies/glfw/glfw"]
	path = Dependencies/glfw/glfw
	url = https://github.com/glfw/glfw
